GITEA_REPO_URL=http://gitea.intra.local/ai/aiperf-gui.git
REGISTRY=registry.intra.local
NAMESPACE=ai
REGISTRY_USER=
REGISTRY_PASSWORD=
AIPERF_BASE_IMAGE=registry.intra.local/ai/aiperf:0.12.0
AIPERF_GUI_IMAGE=registry.intra.local/ai/aiperf-gui:latest
